* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #fff;
}

@media (min-width: 768px) {
   */
    .hrOutsourcing hr {
            display: none;
        }
        .navbar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 10px 50px;
            margin-bottom: 0;
        }
    
        .nav_logo {
            font-size: 2rem;
            margin: 0 20px;
            text-decoration: none;
            color: #000;
        }
    
        .nav_logo:hover {
            color: #92A45B;
            transition: .9s ease-in-out;
        }
    
        .nav_links:hover {
            color: #4C572A;
            transition: 0 9s ease-in-out;
        }
    
        .nav_menu {
            display: flex;
        }
    
        /* .nav_items{
        list-style: none;
        margin: 10px 0;
        padding:10px;
        width: 100%;
    } */
        .nav_items {
            list-style: none;
            margin: 0 15px;
        }
    
        .nav_links {
            color: #000;
            text-decoration: none;
            /* transition: .7s ease */
        }
        .active, .nav_links:hover{
            padding: 3px 5px;
            border: 1px solid #4C572A;
            border-radius: 2px;
            color: #4C572A;
        }
       
        .search_icon {
            display: none;
        }
    
        .hamburger {
            display: none;
            cursor: pointer;
        }

    
        /*BODY*/
        .search_btn input{
            width: 80px;
            padding: 3px;
        }
        hr.long1{
            border: 1px solid rgb(238, 224, 224);
        }
        #section1 {
            position: relative;
            text-align: center;
            color: #fff;
        }
    
        .carousel {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    
        .carousel h2 {
            margin: 0;
            color: white;
            font-weight: 800px;
            font-size: 40px;
            line-height: 24px;
    
            color: #FFFFFF;
        }
    
        .carousel p {
            text-align: center;
            color: white;
            line-height: 22px;
            font-weight: 400;
            font-size: 18px;
            line-height: 20px;
            text-align: center;
        }
    
        .carousel hr {
            width: 15%;
        }
    
        .getStarted {
            padding: 7px 15px;
            border-radius: 5px;
            background-color: transparent;
            border: 1px solid white;
            color: white;
            cursor: pointer;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
        }
    
        h3.competencies {
            font-weight: 600;
            font-size: 20px;
            margin: 0 3%;
        }
    
        hr.new1 {
            display: none;
            /* width: 50px;
            max-width: 100px;
            margin: 0px;
            margin-left: 10px;
            margin-bottom: 10px;
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #4C572A;
            margin: 1em 0;
            padding: 0; */
        }
    
        .parts1and2,
        .parts3and4 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }
    
        .part1,
        .part2,
        .part3,
        .part4 {
            width: 45%;
            height: 40%;
            flex: left;
        }
    
        .part1,
        .part3 {
            margin-left: 3.33%;
        }
    
        .part2,
        .part4 {
            margin-right: 3.33%;
        }
    
        #section2 h3 {
            padding-left: 10px;
            color: #92A45B;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
        }
    
        .part1,
        .part3 {
            align-items: center;
            /* height: 35%; */
            padding: 20px;
            background: #E9F1D1;
            border-radius: 4px;
        }
    
        .part1 h4 {
            margin: 0;
        }
    
        #section2 p {
            font-weight: 400;
            font-size: 24px;
            line-height: 40px;
        }
    
        .part1LearnMore,
        .part3LearnMore {
            padding: 5px;
            color: white;
            border: 0;
            background: #92A45B;
            border-radius: 2px;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            cursor: pointer;
        }
    
        /* .part1LearnMore:hover{
        background-color: transparent;
        border: 1px solid white;
    
    } */
        .btn {
            text-align: right;
        }
    
        .part2,
        .part4 {
            align-items: center;
            /* height: 35%; */
            padding: 20px;
            background: #F2FFF9;
            border-radius: 4px;
        }
    
        .part2 h4 {
            margin: 0;
        }
    
        .part2LearnMore,
        .part4LearnMore {
            padding: 5px;
            color: white;
            border: 0;
            background: #46959F;
            border-radius: 2px;
            font-size: 16px;
            line-height: 20px;
            cursor: pointer;
    
        }
    
        /* .part2LearnMore:hover{
        background-color: transparent;
        border: 1px solid white;
    
    } */
    
        .part3 h4 {
            margin: 0;
        }
    
        .btn {
            text-align: right;
        }
    
    
        .part4 h4 {
            margin: 0;
        }
    
        #section3 {
            padding: 10px 0 20px 0;
            margin-top: 50px;
            border-bottom-right-radius: 64px;
            background: #E9F1D1;
            border-radius: 64px 0px;
            margin: 50px 25%;
        }
    
        #section3 h3 {
            text-align: center;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
    
            /* 4 */
    
            color: #4C572A;
        }
    
        #section3 p {
            color: #4C572A;
    
        }
    
        .categories {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
        }
    
        .category1 {
            margin-left: 30px;
        }
    
        .category2 {
            margin-right: 30px;
        }
    
        .categories button {
            width: 120px;
            height: 40px;
            padding: 5px;
            cursor: pointer;
            border: none;
            color: white;
            background: #4C572A;
            border-radius: 2px;
        }
    
        .categories button.listings {
            background-color: transparent;
            color: #4C572A;
            border: 1px solid #4C572A;
        }
    
        #section4 {
            padding: 20px;
            line-height: 22px;
            margin-top: none;
            margin: 0 3.33%;
        }
    
        #section4 h3 {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
        }
    
        #section4 p {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
    
        .footerhead {
            background-color: #FAFFEA;
        }
    
        .footerhead p {
            text-align: center;
            padding-top: 10px;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
        }
    
        .social_icons {
            text-align: center;
            display: flex;
            justify-content: space-around;
            padding-bottom: 10px;
        }
    
        .fa-brands {
            font-size: 20px;
    
        }
    
        .footer_parts {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
    
        }
    
        .footer_parts ul li {
            list-style: none;
        }
    
        .footer_parts li a {
            text-decoration: none;
            color: #fff;
            font-weight: 400;
            font-size: 10px;
            line-height: 20px;
        }
    
        .footer_main {
            background: #161B07;
            color: white;
        }
    
    
        .footer_logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .footer_roam {
            font-size: 28px;
            margin: 0;
            padding: 0;
            padding-top: 30px;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 38px;
            color: #FFFFFF;
        }
    
        .footer_consulting {
            margin: 0;
            padding: 0;
            color: #8d9479;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 200;
            font-size: 8.5px;
            line-height: 10px;
            color: #FFFFFF;
        }
    
        ul.footer_nav {
            display: none;
        }
    
        .headOffice p,
        .branchOffice p {
            display: flex;
            flex-direction: row;
            text-align: left;
            margin-left: 20px;
            margin-top: 0;
            margin-bottom: 10px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 16px;
        }
    
        .headOffice h3,
        .branchOffice h3 {
            margin-left: 70px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
        }
    
        .fa-solid {
            font-size: 17px;
            margin-right: 15px;
        }
    
        .fa-house {
            margin-top: 5px;
        }
    
        .fa-house1 {
            margin-top: 15px;
        }
    
        div .copy_sign {
            display: inline;
        }
    
        div .copy {
            text-align: center;
            padding: 30px;
            font-size: .8rem;
        }
    
        /* ABOUT US PAGE */
      
        .aboutUs1, .aboutUs3{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
       
        .aboutUs2{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-evenly;
            align-items: center;
            margin-bottom: 10px;
        }
        .aboutUs1 p, .aboutUs2 p, .aboutUs3 p{
            width: 50%;
        }
        .values {
            padding: 5px;
            background: #E9F1D1;
            border-radius: 4px;
            margin-right: 500px;
        }
        
        .aboutUs_main {
            margin: 0 3.33%;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
    
        .aboutUs h3 {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
        }
    
        .aboutUs li {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }
    
        .aboutUs {
            color: #92A45B;
            font-size: 20px;
            line-height: 24px;
        }
    
        .motto {
            text-align: center;
            margin-bottom: 30px;
        }
    
    
    
        /* OUR SERVICES PAGE */
        .ourServices_main {
            margin: 0 5%;
        }
        .services1and2, .services3and4{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        .service1, .service2, .service3, .service4{
            width: 45%;
        }
        .service1, .service3{
            margin-right: 3.33%;
        }
    
        .ourServices {
            color: #92A45B;
            font-size: 20px;
            line-height: 24px;
        }
    
        .roam_services {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            /* or 150% */
    
    
            /* /9 */
    
            color: #191919;
        }
    
        .learn {
            padding: 5px;
            text-align: right;
            border: none;
        }
    
        .learn a {
            text-decoration: none;
            color: white;
        }
    
        /* .learn:hover{
        color: white;
        border: 1px solid white;
        background-color: transparent;
    } */
        .service1 {
            padding: 10px;
            background: #E9F1D1;
            border-radius: 4px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            /* or 150% */
    
    
            /* /9 */
    
            color: #191919;
    
        }
    
        .outsourcing {
            background: #92A45B;
            border-radius: 2px;
        }
    
        .service2 {
            padding: 10px;
            background: #F2FFF9;
            border-radius: 4px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
    
        .backgroundCheck {
            background: #46959F;
            border-radius: 2px;
        }
    
        .service3 {
            padding: 10px;
            background: #E9F1D1;
            border-radius: 4px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
    
        }
        .advisory_page{
            margin: 0 5%;
        }
        .advisory {
            background: #92A45B;
            border-radius: 2px;
        }
    
        .service4 {
            padding: 10px;
            background: #F2FFF9;
            border-radius: 4px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
    
        .training {
            background: #46959F;
            border-radius: 2px;
        }
    
    
        /* OUTSOURCING PAGE */
        .outsourcing_page{
            margin: 0 5%;
        }
        .outsource1 {
            margin: 0 20px;
        }
    
        .outsource1 p {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
        .functional_areas ul{
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
        }
        .functionalArea1{
            margin-right: 100px;
        }
        .whyOutsource,
        .whyOutsourceAdvisory {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
        }
    
        .hrOutsourcing {
            line-height: 24px;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #92A45B;
        }
    
        .functional_areas {
            background: #E9F1D1;
            padding: 10px;
            margin-left: 15px;
        }
    
        .functional_areas h3 {
            padding-left: 10px;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
        }
    
        .functional_areas li {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }
    
        .whyManagedStaffing {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
        }
    
        .managedStaffingWhys li {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }
    
        .havingMargin {
            margin: 0 20px;
        }
   
        .freeConsultatiion {
            padding: 5px;
            border: none;
            background: #92A45B;
            border-radius: 2px;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            width: 225px;
            text-align: center;
        }
    
        .freeConsultatiion a {
            text-decoration: none;
            color: #fff;
        }
    
        .btn_centered {
            text-align: center;
        }
    
        .easy_steps {
            text-align: center;
            background-color: #b6df95;
            padding: 10px;
            margin: 10px 20%;
        }
    
        .easy_steps h3 {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
        }
    
        .easy_steps p {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
        }
    
        .recommended h3 {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
        }
    
        .recommended p {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
    
    
        /* BACKGROUND CHECK PAGE */
        .backgroundCheck_page{
            margin: 0 5%;
        }
        .hrBackgroundCheck {
            color: #92A45B;
            font-size: 20px;
            line-height: 24px;
        }
    
        .advisory p,
        .training p {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
    
        /* HR TRAINING PAGE */
        .training_page{
            margin: 0 5%;
        }
        .hrTraining {
            color: #92A45B;
        }
    
    
        /* CONTACT US PAGE */
        .contactUs_page {
            margin: 0 5%;
        }
        .contactUs_parts{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        .contactUs_part1, .contactUs_part2{
            width: 45%;
        }
        .contactUs_part1{
            margin: 3.33%;
        }
        .contactOffice {
            padding: 1px;
            background: #FAFFEA;
            border: 1px solid #92A45B;
            border-radius: 4px;
        }
    
        .contactOffice hr {
            width: 98%;
            border: 1px solid #BFCF8F;
            /* background-color: #92A45B; */
        }
    
        .contactOffice p {
            display: flex;
            padding: 0 10px;
        }
    
        .hrcontactUs {
            color: #92A45B;
            font-size: 20px;
            line-height: 24px;
            font-weight: 600;
        }
    
        .subheads h3 {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
        }
    
        .contactOffice p,
        .contactUs p {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
    
        .main_form {
            width: 400px;
            /* margin: auto; */
        }
    
        form #contactUs {
            margin: 40px;
        }
    
        label,
        option {
            font-size: 18px;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
        }
    
        ::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #D2D2D2;
        }
    
        input#name,
        select,
        textarea {
            width: 343px;
            outline: 0;
            padding: 7px;
            background-color: #fff;
            border: 1px solid #a09999;
            border-radius: 5px;
        }
    
        input#submit {
            width: 100px;
            padding: 7px;
            font-size: 16px;
            font-weight: 600;
            border: none;
            background-color: rgb(84, 121, 10);
            color: #fff;
            cursor: pointer;
        }
    
    
        /* LATEST JOBS PAGE */
        .latestJobs_page{
            margin: 0 5%;
        }
        .jobs hr{
            display: none;
        }
        .hrLatestJobs {
            color: #92A45B;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
        }
    
        .job_view {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color:#b6df95;
            padding: 10px;
            margin-bottom: 10px;
        }
    
        .job p {
            line-height: 8px;
        }
    
        .job_title {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
        }
    
        .job_location {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
        }
    
        .time_posted {
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
        }
    
        button#view {
            padding: 10px;
            background: #92A45B;
            border: none;
            border-radius: 2px;
        }
    
        button a {
            text-decoration: none;
            color: white
        }
    
        button.moreJobs {
            background: #92A45B;
            border-radius: 2px;
            border: 0;
            padding: 10px;
            color: white;
    
        }
    
        .view a {
            font-weight: 400px;
            font-size: 14px;
            line-height: 17px;
        }
    
        .trendingJobs {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            margin: 0 20px;
            padding-top: 20px;
        }
    
    
    
        /* JOB SUMMARY PAGE */
        .jobSummary_title {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
        }
        .jobSummary_page{
            margin: 0 5%;
        }
        .jobSummary_location {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
        }
    
        .jobSummary_time_posted {
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
        }
    
        .jobSummary {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
        }
    
        .jobSummary li,
        .how_to_apply {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
    
        button.apply_for_job {
            background: #92A45B;
            border-radius: 2px;
            border: 0;
            padding: 10px;
            color: white;
        }
    
        button.apply_for_job a {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
        }
}

